body {
    display: flex;
    flex-direction: column;           
    justify-content: center;  
    align-items: center;      
    height: 100%;   
    width: 100%;         
    color: rgb(15, 165, 188);
    font-family: "Ubuntu", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 2px; 
    width: 80%;
}

.div1 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    text-shadow: 1px 1px 5px black;
}

/* Heading */
h1 {
    font-size: 4rem;
}

/* Card Container */
.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 20px;
    gap: 10px;
    justify-content: center;  
    align-items: center;      
    text-align: center;
    box-shadow: 5px 5px 5px 5px black;
    height: auto;
    min-width: 1700px;
    margin-top: 10px;
    border-radius: 10px;
    opacity: 100%;
}

/* Button styles */
button {
    padding: 40px;
    background-color: rgb(106, 206, 226);
    border: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 20px;
    border-color: brown;
    box-shadow: 0.5px 0.5px 0.5px 0.5px black; 
}

button:hover {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 1px 1px 1px 1px black;  
}

/* Card styles */

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    border: 10px; 
}

.card-content {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d; 
    transition: transform 0.6s;
}

.card .card-front, .card .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 85px;
    box-shadow: 1px 1px 1px 1px black;
}

.card .card-front {
    background-color: rgb(14, 182, 216);
}

.card .card-back {
    background-color: rgb(16, 89, 104);
    transform: rotateY( 180deg); 
}

.card.flipped .card-content {
    transform: rotateY(180deg); 
}

.card:hover {
    cursor: crosshair; 
}



